:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img {
    display: block;
    width: 450px;
    margin: auto;
}